Single_Json_Files/Email_Inbox_Management_and_Reply.json
{
  "name": "Email_Inbox_Management_and_Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        220
      ],
      "id": "caeea53d-0ea8-463e-acf9-88a4c1901c62",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Leads/High Priority",
              "description": "Emails requiring immediate attention or action, typically from key stake holders, clients, or decision makers. These emails often contain time sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"
            },
            {
              "category": "Customer Support",
              "description": "These emails often are related to product or service issues, customer questions, complaints, or feedback. These emails often come from users or customers and require a support response, troubleshooting, or follow-up. Keywords: support, help, issue, bug, error, question, feedback, complaint, ticket, resolve"
            },
            {
              "category": "Finances",
              "description": "These emails often relate to relate to invoices, payments, receipts, taxes, account balances, or financial reports. These typically come from accounting teams, vendors, or payment processors and may include attachments like invoices or payment confirmations. Keywords: invoice, payment, billing, refund, charge, receipt, statement, balance, tax, account payable"
            },
            {
              "category": "Promotion",
              "description": "These emails often are marketing-related, promotional offers, newsletters, discounts, or product announcements. These often come from mailing lists, marketing platforms, or sales teams and do not usually require immediate action. Keywords: sale, discount, offer, promotion, newsletter, deal, new product, limited time, exclusive, subscribe"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -700,
        220
      ],
      "id": "9ef8eb34-0cbf-45e2-8a1d-2e493b008801",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -700,
        420
      ],
      "id": "39017b71-f48b-499a-813c-a49ae4fdee1a",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2153712281606784851"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        480
      ],
      "id": "2a1b6f70-c5a7-4fd8-b15a-b4069b8af517",
      "name": "Promotion",
      "webhookId": "e6cfc448-4921-48ef-bb65-c0dbc6c76ea9"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7937723162220600156"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        300
      ],
      "id": "8b91c887-941d-4758-a323-9ab5baf4e801",
      "name": "Finances",
      "webhookId": "e6cfc448-4921-48ef-bb65-c0dbc6c76ea9"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_5706012632512528544"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        120
      ],
      "id": "9d00ed43-7256-4d54-a74f-063c45091fb9",
      "name": "Customer Support",
      "webhookId": "e6cfc448-4921-48ef-bb65-c0dbc6c76ea9"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3986520172113512590"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        -40
      ],
      "id": "1947ed6b-de29-4026-a8d0-3e4eb4f6595b",
      "name": "Leads/High Priority",
      "webhookId": "e6cfc448-4921-48ef-bb65-c0dbc6c76ea9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an executive assistant. Your Job is to respond to incoming high priority inquires as accurately as you can.\n\nHere is the email you are responding to:  {{ $('Gmail Trigger').item.json.text }}\n\nPlease output the following parameteres:\nSubject\nMessage",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        -40
      ],
      "id": "ed4a80a9-460f-46dc-be36-3dce261c3f39",
      "name": "Creating Draft"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.Subject }}",
        "message": "={{ $json.message.content.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        340,
        -40
      ],
      "id": "fdb379e5-8eb8-4042-a0b0-12c72a34dbde",
      "name": "Gmail",
      "webhookId": "27cf2b1b-7ce5-41d8-84a3-0cb212b09fea"
    },
    {
      "parameters": {
        "text": "=HIGH PRIORITY EMAIL from {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nWe have created a draft with the subject: {{ $('Creating Draft').item.json.message.content.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -40
      ],
      "id": "924498c1-3296-453f-b337-2a016cac6d8a",
      "name": "Telegram",
      "webhookId": "c127c9b3-2de8-425b-8f4f-6478efe57145"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.Subject }}",
        "message": "={{ $json.message.content.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        340,
        120
      ],
      "id": "7eaac739-b57a-4d56-b05f-ebe68d3b8fdd",
      "name": "Gmail1",
      "webhookId": "27cf2b1b-7ce5-41d8-84a3-0cb212b09fea"
    },
    {
      "parameters": {
        "text": "=CUSTOMER SUPPORT EMAIL from {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nWe have created a draft with the subject: {{ $('Creating Draft1').item.json.message.content.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        120
      ],
      "id": "f3143d8e-f078-45d7-8eb0-df145b4ef0ce",
      "name": "Telegram1",
      "webhookId": "c127c9b3-2de8-425b-8f4f-6478efe57145"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an executive assistant. Your Job is to respond to incoming customer support inquires as accurately as you can.\n\nHere is the email you are responding to:  {{ $('Gmail Trigger').item.json.text }}\n\nPlease output the following parameteres:\nSubject\nMessage",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        120
      ],
      "id": "e3a83101-1d98-4fdc-89ab-0ddb33d3b1f7",
      "name": "Creating Draft1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are in charge of promotions. Please evaluate the incoming promotional email and give us a quick summary and a reccomendation.\n\nHere is the incoming message: {{ $('Gmail Trigger').item.json.text }}\n\nPlease output the following parameteres:\nSummary\nReccomendation"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        480
      ],
      "id": "7ba4b6b7-fffb-4a35-acf2-7fb3d5b6c293",
      "name": "Summary"
    },
    {
      "parameters": {
        "text": "=Here are the details regarding a promotional email from {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nSummary:{{ $json.message.content.Summary }}\n\nReccomendation:{{ $json.message.content.Recommendation }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        480
      ],
      "id": "29696b27-cff5-42e3-aa9b-12f9cebcba50",
      "name": "summary",
      "webhookId": "c127c9b3-2de8-425b-8f4f-6478efe57145"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are in charge of finances. Please evaluate the incoming financial email and give us a quick summary and a reccomendation.\n\nHere is the incoming message: {{ $('Gmail Trigger').item.json.text }}\n\nPlease output the following parameteres:\nSummary\nReccomendation"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -20,
        300
      ],
      "id": "ff9eb219-1731-4adc-b7c0-711b55095611",
      "name": "Summary1"
    },
    {
      "parameters": {
        "text": "=Here are the details regarding a promotional email from {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nSummary:{{ $json.message.content.Summary }}\n\nReccomendation:{{ $json.message.content.Recommendation }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        300
      ],
      "id": "eb22909f-5c93-4334-929b-f2b4f0d1a97d",
      "name": "summary1",
      "webhookId": "c127c9b3-2de8-425b-8f4f-6478efe57145"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Leads/High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finances",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads/High Priority": {
      "main": [
        [
          {
            "node": "Creating Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Draft": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support": {
      "main": [
        [
          {
            "node": "Creating Draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Draft1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finances": {
      "main": [
        [
          {
            "node": "Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary1": {
      "main": [
        [
          {
            "node": "summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bcecd4c-1ed2-48e8-a2ef-2486cb2b3c3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb1f7a63d7261ae48134020df9f51c99ce236492df30462ba39ff7bd720662f3"
  },
  "id": "QtdRdYmLjeSwVEub",
  "tags": []
}